# --- Visual Studio / .NET ---
.vs/
*.suo
*.user
*.rsuser
*.csproj.user
*.sln.docstates

# Compilados / builds
[Bb]in/
[Oo]bj/
[Dd]ebug/
[Rr]elease/
x64/
x86/
[Tt]est[Rr]esults/

# Cache/otros
*.log
*.cache
*.opendb
*.VC.db

# Paquetes (si usás packages locales)
packages/
